*{
    box-sizing: border-box;
}
img,video{
    max-width: 100%;
    height: auto;
    margin: 1em;
}

.container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}

body{
    background-color: rgba(19, 198, 243, 0.584);
    color: beige;
    font-family: 'IM Fell English', serif; 
}
